
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Registration Success</li>
        </ol>
    </div>
</div>
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="alert alert-success" role="alert">You have successfully registered</div>
    </div>
    <br />
    <div class="row">
        <a class="btn btn-default btn-lg" href="@Url.Action("Login","Home")">Login</a>
    </div>
</div>
<br /><br /><br /><br />